# Compiled files
consumer
producer
bidirectional
*.o
*.out
a.out
hello
employee
logwriter

#log files
*.log

#Editor backup files
*.swp
*~
*.bak

# OS files
.DS_Store
Thumbs.db

#Test files
*.bin
*.txt
